---
import TabComponent from "../../components/dashboard/account-settings/TabsComponent.svelte";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout
  title="Account and Settings | Dashboard"
  isShowPeriodAndAccount={false}
>
  <div class="md:p-5">
    <div>
      <p class="font-medium text-[1.2rem]">Account and Settings</p>
      <p class="font-light">Manage your account settings.</p>
    </div>

    <div class="md:mt-5">
      <TabComponent
        client:visible
        API_BASE_URL={import.meta.env.API_BASE_URL}
      />
    </div>
  </div>
</DashboardLayout>
