---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Audience | Dashboard">
  <div
    class="w-full max-h-[calc(100vh-10vh)] md:p-5 md:overflow-hidden md:overflow-y-auto"
  >
    <p>Audience Page</p>
  </div>
</DashboardLayout>
