---
import AccountProfile from "../../components/dashboard/AccountProfile.svelte";
import AudienceGrowthChart from "../../components/dashboard/AudienceGrowthChart.svelte";
import PeriodDate from "../../components/dashboard/PeriodDate.svelte";
import ImpressionsComponent from "../../components/dashboard/insights/ImpressionsComponent.svelte";
import ProfileViewComponent from "../../components/dashboard/insights/ProfileViewComponent.svelte";
import ReachComponent from "../../components/dashboard/insights/ReachComponent.svelte";
import WebsiteClickComponent from "../../components/dashboard/insights/WebsiteClickComponent.svelte";
import PerformanceSummary from "../../components/dashboard/performance-summary/PerformanceSummary.svelte";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Dashboard">
  <div
    class="w-full max-h-[calc(100vh-10vh)] md:p-5 md:overflow-hidden md:overflow-y-auto"
  >
    <!-- ACCOUNT AND PERIOD DATE SECTION -->
    <div
      class="md:flex md:justify-between md:sticky md:top-0 md:pb-5 z-10 bg-white"
    >
      <AccountProfile
        client:visible
        API_BASE_URL={import.meta.env.API_BASE_URL}
      />
      <PeriodDate client:visible />
    </div>
    <!-- END - ACCOUNT AND PERIOD DATE SECION -->

    <PerformanceSummary
      client:visible
      API_BASE_URL={import.meta.env.API_BASE_URL}
    />

    <!-- Impressions Chart -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Impressions</p>
      <p class="font-light">
        Total number of times the Account's media objects have been viewed.
      </p>
      <ImpressionsComponent client:visible />
    </div>
    <!-- END - Impressions Chart -->

    <!-- Reach Chart -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Reach</p>
      <p class="font-light">
        Total number of times the Account's media objects have been uniquely
        viewed.
      </p>
      <ReachComponent client:visible />
    </div>
    <!-- END - Reach Chart -->

    <!-- Profile Views -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Profile Views</p>
      <p class="font-light">
        Total number of users who have viewed the Account's profile within the
        specified period.
      </p>
      <ProfileViewComponent client:visible />
    </div>
    <!-- END - Profile Views -->

    <!-- Website Clicks -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Website Clicks</p>
      <p class="font-light">
        Total number of users who have viewed the Account's profile within the
        specified period.
      </p>
      <WebsiteClickComponent client:visible />
    </div>
    <!-- END - Website Clicks -->

    <!-- Audience Growth -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Audience Growth</p>
      <p class="font-light">
        View your key profile performance metrics from the reporting period.
      </p>
      <AudienceGrowthChart client:visible />
    </div>
    <!-- END-Audience Growth -->
  </div>
</DashboardLayout>
