---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Dashboard">
  <div
    class="w-full max-h-[calc(100vh-6vh)] md:p-5 md:overflow-hidden md:overflow-y-auto"
  >
    <div class="w-full">dashboard</div>
  </div>
</DashboardLayout>
