---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import AudienceGrowthChart from "../../components/dashboard/AudienceGrowthChart.astro";
import MediaChart from "../../components/dashboard/MediaChart.svelte";
import AccountProfile from "../../components/dashboard/AccountProfile.svelte";
import PerformanceSummary from "../../components/dashboard/performance-summary/PerformanceSummary.svelte";
---

<DashboardLayout title="Dashboard">
  <div
    class="w-full max-h-[calc(100vh-10vh)] md:p-5 md:overflow-hidden md:overflow-y-auto"
  >
    <AccountProfile
      client:visible
      API_BASE_URL={import.meta.env.API_BASE_URL}
    />

    <PerformanceSummary client:visible />

    <!-- Audience Growth -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Audience Growth</p>
      <p class="font-light">
        View your key profile performance metrics from the reporting period.
      </p>
      <AudienceGrowthChart />
    </div>
    <!-- END-Audience Growth -->
    <MediaChart client:only="svelte" />
  </div>
</DashboardLayout>
