---
import AudienceGrowthChart from "../../components/dashboard/AudienceGrowthChart.svelte";
import ImpressionsComponent from "../../components/dashboard/insights/ImpressionsComponent.svelte";
import ProfileViewComponent from "../../components/dashboard/insights/ProfileViewComponent.svelte";
import ReachComponent from "../../components/dashboard/insights/ReachComponent.svelte";
import WebsiteClickComponent from "../../components/dashboard/insights/WebsiteClickComponent.svelte";
import PerformanceSummary from "../../components/dashboard/performance-summary/PerformanceSummary.svelte";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Dashboard">
  <div
    class="w-full max-h-[calc(100vh-10vh)] px-5 md:overflow-hidden md:overflow-y-auto"
  >
    <PerformanceSummary
      client:visible
      API_BASE_URL={import.meta.env.API_BASE_URL}
    />

    <!-- Impressions Chart -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Impressions</p>
      <p class="font-light">
        The number of times your posts, stories, reels, videos and live videos
        were on screen, including in ads.
      </p>
      <ImpressionsComponent client:visible />
    </div>
    <!-- END - Impressions Chart -->

    <!-- Reach Chart -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Reach</p>
      <p class="font-light">
        The number of unique accounts that have seen your content, at least
        once, including in ads. Content includes posts, stories, reels, videos
        and live videos. Reach is different from impressions, which may include
        multiple views of your content by the same accounts.
      </p>
      <ReachComponent client:visible />
    </div>
    <!-- END - Reach Chart -->

    <!-- Profile Views -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Profile Views</p>
      <p class="font-light">The number of times your profile was visited.</p>
      <ProfileViewComponent client:visible />
    </div>
    <!-- END - Profile Views -->

    <!-- Website Clicks -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Website Clicks</p>
      <p class="font-light">
        The number of times the link to your website was tapped.
      </p>
      <WebsiteClickComponent client:visible />
    </div>
    <!-- END - Website Clicks -->

    <!-- Audience Growth -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Audience Growth</p>
      <p class="font-light">
        View your key profile performance metrics from the reporting period.
      </p>
      <AudienceGrowthChart client:visible />
    </div>
    <!-- END-Audience Growth -->
  </div>
</DashboardLayout>
