---
import HashtagPerformanceComponent from "../../components/dashboard/media/HashtagPerformanceComponent.svelte";
import PublishingComponent from "../../components/dashboard/media/PublishingComponent.svelte";
import TopPostsComponent from "../../components/dashboard/media/TopPostsComponent.svelte";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Media - Dashboard">
  <div
    class="w-full max-h-[calc(100vh-10vh)] md:p-5 md:overflow-hidden md:overflow-y-auto"
  >
    <!-- Publishing Behavior Chart -->
    <div>
      <p class="font-medium text-[1.2rem]">Publishing Behavior</p>
      <p class="font-light">
        View the different types of posts, stories, and reels you published
        during the selected time period.
      </p>
      <PublishingComponent
        client:visible
        API_BASE_URL={import.meta.env.API_BASE_URL}
      />
    </div>
    <!-- END - Publishing Behavior Chart -->

    <!-- Top Posts -->
    <div class="md:mt-10">
      <p class="font-medium text-[1.2rem]">Top Posts</p>
      <p class="font-light">
        Review your top posts, stories, and reels published during the selected
        time period, based on the post, story, or reel’s lifetime performance.
      </p>
      <TopPostsComponent client:visible />
    </div>
    <!-- END - Top Posts -->

    <!-- Hashtag Performance -->
    <div class="md:top-10 md:mt-10">
      <p class="font-medium text-[1.2rem]">Hashtag Performance</p>
      <p class="font-light">
        Review your hashtag usage and contrast them with hashtags that drew the
        most engagement.
      </p>
      <HashtagPerformanceComponent client:visible />
    </div>
    <!-- END - Hashtag Performance -->
  </div>
</DashboardLayout>
