---
import DashboardLayout from "../layouts/DashboardLayout.astro";
let curr = "dashboard";

function changeScreen() {
  console.log("sadasd");
}
---

<DashboardLayout title="Dashboard">
  <p>{curr} page</p>
</DashboardLayout>
