---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.svelte";
import Hero from "../components/Hero.svelte";
---

<MainLayout title="Comein - Maximize performance your Instagram">
  <main>
    <Navbar client:load />
    <Hero client:load />
  </main>
</MainLayout>
