---
interface Props {
  title: string;
}

import AccountProfile from "../components/dashboard/AccountProfile.svelte";
import Navbar from "../components/dashboard/Navbar.svelte";
import PeriodDate from "../components/dashboard/PeriodDate.svelte";
import Sidebar from "../components/dashboard/Sidebar.svelte";

const { title } = Astro.props;
---

<script is:inline>
if (!localStorage.getItem("profile")) {
  window.location.replace("/login");
}
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script is:inline src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>{title}</title>
  </head>
  <body
    class="text-primaryTextColor dark:text-primaryTextColor-dark overflow-hidden bg-white dark:bg-backgroundColor-dark"
  >
    <Navbar client:load />
    <div class="flex">
      <Sidebar client:load />
      <div class="md:w-full">
        <!-- ACCOUNT AND PERIOD DATE SECTION -->
        <div class="md:flex md:justify-between md:p-5 z-10">
          <AccountProfile
            client:visible
            API_BASE_URL={import.meta.env.API_BASE_URL}
          />
          <PeriodDate client:visible />
        </div>
        <!-- END - ACCOUNT AND PERIOD DATE SECION -->
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  :root {
    font-size: 14px;
  }
</style>
